<html>
    <head>
        <link rel="stylesheet" href="/assets/style.css" type="text/css">
    </head>
    <body>
        <h1>Persona: <%= ID %></h1> <!--sintaxis para enviar el parametro id al index.js-->
    </body>
</html>
